.last_guess {
    position: relative;
    display: inline;
    max-width: 15%;
    height:15%;
    max-height: 10%;
}

.success {
    bottom: 15%;
    max-width: 100%;
    position:absolute;
    opacity: .7;
}

.last_aircraft {
    max-width: 100%;
    bottom-margin: 10%;
}

.mobile {
    display:none;
}

@media (max-device-width: 480px) {
    .mobile {
        display:block;
    }
    .fullscreen {
        display: none;
    }
    #answer_label {
        font-size:3vw;
    }
}