{% extends 'AircraftViewer/viewer_base.html' %}

    {% block style %}
        {% load staticfiles %}
        <link type="text/css" rel="stylesheet" href={% static "AircraftViewer/manager_style.css" %}>
    {% endblock %}

    {% block title %}
        <title>Data Manager</title>
    {% endblock %}

    {% block navbar %}
        <div class="container">
            <a href="/">Plane Quiz</a>
            {% if request.user.is_authenticated %}
                <a class="dropdown-button" href="#!" data-activates="user_dropdown">{{ request.user }}</a>
            {% else %}
                <a class="dropdown-button" href="#!" data-activates="user_dropdown">User Tasks</a>
            {% endif %}
            {% if request.user.is_authenticated %}
                <li><a href="/history">History</a></li>
                <li><a href="{% url "django.contrib.auth.views.logout" %}?next=/">Log Out</a></li>
            {% else %}
                <li><a href="/user/login">Login</a></li>
                <li><a href="/user/create_user">Register</a></li>
            {% endif %}
        </div>
    {% endblock %}
    {% block content %}
        <br/>
        {% if error %}
            {{ error }}
        {% endif %}
        <div class="container">
            <div class="table-row">
                <form action="" method="POST">
                    {% csrf_token %}
                    <label for="aircraft">Aircraft</label>
                    <div class="browser-default">
                        <select name="aircraft">
                            <option value="" disabled selected>Choose your aircraft</option>
                        {% for aircraft in aircraft_types %}
                            <option value="{{ aircraft }}">{{ aircraft }}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <button type="submit">Submit</button>
                </form>
            </div>
        {% for row in aircraft_images %}
            <div class="table-row">
                {% for aircraft in row %}
                    <div class="column">
                        <a href="{{ aircraft.data_link }}">
                        <img src="{{ aircraft.image }}" width="100%">
                            <br/>
                        {{ aircraft.author }}
                        </a>
                    </div>
                    <div class="spacer-col">
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        </div>
    {% endblock %}