{% extends "AircraftViewer/aircraft_viewer.html" %}

{% block title %}
    <title>Test History</title>
{% endblock %}

{% block content %}
    <br/>
    {% if error %}
        <div class="container">
        <div class="row">
            <div class="col s6 offset-s3">
                <h2 class="center-align">
                    {{ error }}
                </h2>
            </div>
        </div>
    </div>
    {% else %}
        <div class="container">
            {% for row in user_history %}
                <div class="row">
                    {% for aircraft in row %}
                        <div class="col s2">
                            <img src="{{ aircraft }}" width="75%">
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}