{% extends "AircraftSpotter/viewer_base.html" %}

    {% block title %}
        <title>Aircraft Spotter</title>
    {% endblock %}

    {% block content %}
        <div class="left-float-label">
            {% if success %}
                {{ success }}
            {% endif %}
        </div>
        <div style="position: absolute; right: 5%; top:20%">
            <a href="{{ error_url }}">
                <button type="submit" name="error_report" value="Problem?" class="btn waves-effect waves-light blue white-text">Problem?</button>
            </a>
        </div>
        <div class="container">
            <div class="row">
            </div>
            <div class="row" style="margin-bottom:0;">
                <div class="col s8 offset-s2">
                    <img class="materialboxed" id="plane_image" box-shadow="10px 10px" width="100%" alignment="center" src="{{ location }}">
                    <h6 class="left-align"> Photo credit {{ author }}</h6>
                </div>
            </div>
            <form name="plane" class="send-form" method="POST">
                {% csrf_token %}
                <input type="hidden" name="aircraft_id" value="{{ aircraft_id }}">
                <div class="row">
                    {% for choice in selections %}
                            <div class="col s7 offset-s5 l4 offset-l2">
                                <p>
                                    <input name="answer" type="radio" id="{{ forloop.counter }}" value="{{ choice }}" required/>
                                    <label for={{ forloop.counter }} class="black-text">{{ choice }}</label>
                                </p>
                            </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col s2 offset-s5">
                        <button class="btn waves-effect waves-light blue white-text" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <script>
            $(document).ready(function(){
            $('.materialboxed').materialbox();
            });
        </script>
    {% endblock %}