{% extends 'PlaneViewer/plane_viewer.html' %}

    {% block title %}
        <title>Error Report</title>
    {% endblock %}

    {% block content %}
        <div class="container">
            <div class="row"></div>
            {% if submitted %}
            {% endif %}

            <div class="row">
                <div class="col s10 offset-s1 l6 offset-l3">
                    <img class="materialboxed" id="plane_image" box-shadow="10px 10px" width="100%" alignment="center" src="{{ image_location }}">
                    {{ plane }}
                </div>
            </div>
            <div class="row">
                <div class="col s10 offset-s1 l6 offset-l3">
                    <form action="{{ error_url }}" method="post">
                        {% csrf_token %}
                        <br/>
                            <input group="problem" type="checkbox" name="wrong_aircraft" id="wrong_aircraft" required>
                            <label for="id_wrong_aircraft">Wrong aircraft</label>
                        <br/>
                            <input group="problem" type="checkbox" name="bad_picture" id="bad_picture">
                            <label for="bad_picture">Bad picture</label>
                        <br/>
                            <input group="problem" type="text" name="open_response" id="open_response">
                            <label for="open_response">Description (optional)</label>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col s2 offset-s5">
                    <button class="btn waves-effect waves-light blue white-text" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
                </div>
            </div>


        </div>

    {% endblock %}