<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>Plane Quiz</title>
    {% endblock %}
    {% load staticfiles %}
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href={% static "PlaneTest/materialize/css/materialize.min.css" %}  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    {% block navbar %}
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper blue white-text">
                    <div class="container">
                        <div class="row">
                            <div class="col" style="position:absolute; left: 20px;">
                                 {% if request.user.is_authenticated %}
                                    {{ request.user.username }}
                                 {% else %}
                                     <a href="/user/create_user">Register</a>
                                 {% endif %}
                            </div>
                            <div class="col" style="position:absolute; right: 20px;">
                                {% if request.user.is_authenticated %}
                                    <a href="{% url "django.contrib.auth.views.logout" %}?next=/">Log Out</a>
                                {% else %}
                                    <a href="/user/login">Login</a>
                                {% endif %}
                            </div>
                        </div>

                    </div>
                </div>
            </nav>
        </div>
    {% endblock %}
    {% block content %}
    {% endblock %}

</body>

<footer>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src={% static "PlaneTest/materialize/js/materialize.min.js" %}></script>
</footer>

</html>