<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    {% load staticfiles %}
    <link rel="stylesheet" src="{% static "PlaneViewer/get_aircraft.css" %}"/>

    <meta charset="UTF-8">
    <title>Title</title>
    {% csrf_token %}
    <ul class="aircraft_input">
        <br>
        <img src="{% static image_location %}" width="500px"/>
        <form>
            {{ form.as_ul }}
            <input type="submit" value="Submit">
        </form>
        {{ redownload }}
    </ul>
    {% if plane_data %}

    {% endif %}

</head>
<body>

</body>
</html>