<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    {% load staticfiles %}
    <link rel="stylesheet" src="{% static "PlaneViewer/get_aircraft.css" %}"/>

    <meta charset="UTF-8">
    <title>Title</title>
    {% csrf_token %}
    <ul class="aircraft_input">
        {% static image_location %}
        <br>
        <img src="{%  static "PlaneViewer/Test.jpg" %}" height=200/>
        <br>
        <img src="{{ image_location }}"/>
        {{ form.as_ul }}
        {{ redownload }}
    </ul>

</head>
<body>

</body>
</html>